@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    height: auto;
    background-color: #F6F7EB;
    color: #2e3235;
    letter-spacing: 1px;
}

.spacer {
    width: 100%;
    height: 80px;
}

.content {
    padding: 5% 10%;
}

.introduction {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5%;
}

img {
    width: 30%;
    height: auto;
    float: left;
    margin-bottom: 20px;
}

.text {
    width: 50%;
    padding-left: 40px;
    height: auto;
    float: left;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

span {
    padding-left: 45%;
    font-family: 'Dancing Script', cursive;
    color: #ce5b14;
    text-align: right;
    font-size: 30px;
}