* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    height: auto;
}

.spacer {
    width: 100%;
    height: 80px;
}

.banner {
    width: 100%;
    height: 400px;
    background-image: url("pix/banner70.jpeg");
    background-repeat: no-repeat;
    text-align: center;
}

.banner .text-frame {
    display: inline-block;
    margin-top: 10%;
    margin-left: 48%;
    float: left;
    width: 30%;
    height: 30%;
}

.banner .text-frame h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #F6F7EB;
    letter-spacing: 2px;
    font-size: 50px;
}

.events {
    width: 100%;
    height: auto;
}

.content {
    text-align: left;
    background-color: #F6F7EB;
    color: #2e3235;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: 3% 20%;
    letter-spacing: 1px;
    line-height: 20px;
}
